@font-face {
    font-family: "lato-regular";
    src: url(../font/Lato-Regular.ttf);
}

* {
    font-family: "lato-regular", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
}

/* class unique */

.aboutMeSide {
    width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.parallax {
    height: 46vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* balise unique */

h1 {
    background-color: black;
    color: white;
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    padding: 0.5rem 1rem;
}

h3 {
    font-weight: bold;
    text-align: center;
}

h4 {
    padding: 1rem;
    color: gray;
    text-align: center;
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: italic;
}

li {
    list-style-type: none;
}

i {
    padding-right: 0.2rem;
}

/* header */

#hearderNav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;

}


#hearderNav a,
#aboutNav a {
    text-decoration: none;
    color: black;
    padding: 0.7rem;
}

#hearderNav ul,
#aboutNav ul {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
}

#iconeLoupe {
    padding: 0.7rem;
}

#hearderImg {
    width: 100%;
    background-image: url("../img/parallax1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about me */

.aboutMeSide {
    width: 60%;
}

#myName {
    margin: 0 auto;
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
}

#myName img {
    width: 100%;
}

#myName div {
    width: 48%;
    justify-content: space-around;
}

#myName h5 {
    text-align: center;
    flex-direction: column;
    font-size: 1rem;
    padding-bottom: 3rem;
}

#myName p {
    line-height: 1.7rem;
    font-size: 1.1rem;
}

#competence {
    padding-bottom: 3rem;
}

#competence h6 {
    text-align: center;
    font-size: 1.2rem;
    padding: 3rem;
}

#competence p {
    font-size: 20px;
    padding: 1rem 0;
}

.container {
    background-color: #F1F1F1;
    width: 100%;
}

.skill {
    background-color: #616161;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 20px;
}

#photography {
    width: 0%;
    opacity: 0;
    transition: all 2s;
}

#webDesign {
    width: 0%;
    opacity: 0;
    transition: all 2s;
}

#photoshop {
    width: 0%;
    opacity: 0;
    transition: all 2s;
}

/* project */

#project {
    background-color: #616161;
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
}

#project p {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0.5rem;
}

/* Portfolio */

#portfolioImg {
    width: 100%;

    background-image: url("../img/parallax2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolioSide {
    width: 60%;
    margin: 0 auto;
}

#portfolio h2 {
    font-size: 3rem;
    color: white;
    letter-spacing: 0.7rem;
}

#portfolio h3 {
    margin: 3rem 0 1rem 0;
    font-size: 2rem;
}

#portfolio h4 {
    padding: 0.5rem 0;
}

#ForH4 {
    margin-bottom: 2rem;
}

#photoSide {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.cards {
    position: relative;
    width: 23%;
    margin: 0.3rem;
}

.cards img {
    width: 100%;
}

#buttonMore {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

#buttonMore button {
    background-color: #F1F1F1;
    border: none;
    color: black;

}

#contactImg {
    width: 100%;

    background-image: url("../img/parallax3.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#Contact h2 {
    font-size: 3rem;
    color: white;
    letter-spacing: 0.7rem;
}

#ContactSide {
    width: 60%;
    margin: 0 auto;
}

#ContactSide h4 {
    margin-bottom: 1rem;
}

#information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}


#informationImg {
    width: 30%;
}

#informationImg img {
    width: 100%;
    border-radius: 5px;
}

#informationEtFormuliare {
    width: 65%;
}

#informationContact p {
    margin: 0.5rem 0;
}

#informationContact p:nth-child(4) {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#informationContact p:last-of-type {
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-wrap: wrap;
}

#formulaire div {
    width: 100%;

}

#formulaire div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

#formulaire div:nth-child(1) div {
    width: 48%;
}


#formulaire div:nth-child(2) {
    width: 100%;
}

#formulaire input {
    width: 100%;
    padding: 0.7rem 0.5rem;
}

#formulaire div:nth-child(3) {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    width: 100%;
}

#formulaire div button {
    padding: 0.7rem 0.5rem;
    background-color: black;
    color: white;
    width: 30%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #666666;
    color: white;
    font-size: 1.2rem;
}

#goTop {
    margin: rem 0;
    padding: 0.5rem 1rem;
    border: none;
    background-color: white;
}

#socialMedia {
    margin: 1rem 0;
}

#socialMedia i {
    color: white;
}

footer p {
    color: white;
    font-size: 1rem;
}